html body {
    font-family: Arial;
    margin: 0;
    padding: 40px 0 0 0;
}
header {
    padding: 5px 12px;
    background-color: #444;
    color: #fff;
}
.navigation {
    display: inline;
}
.navigation a {
    color: #ccc;
    font-size: 11px;
    text-decoration: none;
    padding: 1px 5px;
}
.navigation a:hover {
    background-color: #555;
    color: #fff;
}
div#main {
    padding: 0;
    background-color: #ccc;
    position: relative;
}
* { /* for iphones, mainly */
   -webkit-user-select: none;
}
.stat-box {
    background-color: rgba(255,255,255,0.2);
    width: 55px;
}
.stat-box p {
    border: 1px solid #aaa;
    color: #333;
    font-size: 10px;
    margin: 2px 0;
    padding: 2px 4px;
}
.stat-box p span.fw-number {
    display: inline-block;
    width: 20px;
    text-align: center;
}
.stat-box p.count {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.stat-box p span.fw-number.pct {
    display: inline;
    width: 40px;
}

.topbar h3 span.spchar {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -20px;
    padding: 8px 20px 12px;
    line-height: 1
}